.*      export-ignore
/doc    export-ignore
/tests  export-ignore
/tools  export-ignore
rector.php  export-ignore
phpstan.neon    export-ignore
phpunit.xml.dist    export-ignore
yarn.lock    export-ignore
webpack.config.js    export-ignore
tailwind.config.js    export-ignore
postcss.config.js    export-ignore
package.json    export-ignore
src/Resources/assets    export-ignore
