parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true

    type_coverage:
        return_type: 100
        param_type: 100
        property_type: 100
        constant: 0

    paths:
        - src

    excludePaths:
        - '%currentWorkingDirectory%/src/DependencyInjection/Configuration.php'
        - '%currentWorkingDirectory%/src/Routing/RoutingLoader.php'

    ignoreErrors:
        - identifier: missingType.iterableValue
        - message: '~Class Symfony\\Component\\Security\\Core\\Authentication\\Token\\AnonymousToken not found.~'
          reportUnmatched: false
