includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    excludes_analyse:
        - '%currentWorkingDirectory%/src/DoctrineAuditBundle/DependencyInjection/Configuration.php'
