includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true

    excludes_analyse:
        - '%currentWorkingDirectory%/src/DoctrineAuditBundle/DependencyInjection/Configuration.php'

    ignoreErrors:
        # false positives
        - '~Cannot cast array\<string\>\|string\|null to int~'
        - '~Property DH\\DoctrineAuditBundle\\AuditConfiguration\:\:\$dispatcher \(Symfony\\Component\\EventDispatcher\\EventDispatcherInterface\) does not accept Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface\|null~'
        - '~Parameter \#1 \$name of method Symfony\\Component\\Console\\Command\\Command\:\:setName\(\) expects string, string\|null given~'
        - '~Parameter \#1 \$tableName of method Doctrine\\DBAL\\Schema\\Schema\:\:(has|get)Table\(\) expects string, string\|null given~'
        - '~Cannot call method fetchColumn\(\) on Doctrine\\DBAL\\Driver\\Statement\|int~'
        - '~Call to an undefined method Doctrine\\Common\\Persistence\\Mapping\\ClassMetadata\:\:get(Schema|Table)Name\(\)~'
        - '~Possibly invalid array key type object\|string~'
