{% extends "@DHAuditor/layout.html.twig" %}

{% import '@DHAuditor/Audit/helpers/helper.html.twig' as helper %}

{% block dh_auditor_header %}
<nav class="bg-white border border-gray-200 rounded flex" aria-label="Breadcrumb">
    <ol role="list" class="max-w-screen-xl w-full mx-auto px-4 flex space-x-4 sm:px-6 lg:px-6">
        <li class="flex">
            <div class="flex items-center h-11">
                <a href="{{ path('dh_auditor_list_audits') }}" class="text-gray-400 hover:text-gray-500 flex space-x-1">
                    <!-- Heroicon name: solid/home -->
                    <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                    </svg>
                    <span>{% trans from 'auditor' %}audit.header.home{% endtrans %}</span>
                </a>
            </div>
        </li>
    </ol>
</nav>
{% endblock %}

{% block dh_auditor_content %}
<div class="auditor-audits mb-6 grid grid-cols-3 gap-4">
    {% for entity, table in audited %}
    <div class="bg-white overflow-hidden rounded border border-gray-200 hover:bg-blue-50 hover:border-blue-300 transition-all duration-300 group flex flex-col justify-between">
        <div class="px-4 py-3 sm:px-4">
            <h3 class="text-lg leading-6 text-gray-900">
                <code class="text-pink-500">{{ entity|escape }}</code>
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                {{ table|escape }}
            </p>
        </div>
        <div class="border-t border-gray-200 px-4 py-2 sm:p-0 bg-gray-50 group-hover:bg-blue-100 group-hover:border-blue-200 transition-all duration-300">
            <dl class="sm:divide-y sm:divide-gray-200">
                <div class="py-4 sm:py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-4">
                    <dt class="text-sm font-medium text-gray-500">
                        {% trans with { '%count%': reader.createQuery(entity).count() } from 'auditor' %}audit.audit_details.operations_count{% endtrans %}
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 text-right sm:mt-0 sm:col-span-2">
                        <a class="text-blue-500" href="{{ path('dh_auditor_show_entity_history', {'entity': helper.namespaceToParam(entity)}) }}">
                            {% trans from 'auditor' %}audit.audit_details.view_audit{% endtrans %}
                        </a>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock dh_auditor_content %}
